<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home </title>
</head>
<body>
    <h1>LOGIN:</h1>
    {% if form.has_errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form action="" method="post">
        <label for="username">username: </label>
        <input id="username" type="text" name="username" placeholder="username"/></br>
        <label for="password">password: </label>
        <input id="password" type="password" placeholder="password" name="password"/></br>
        <input type="submit"name="submit" value="Login"/>

        {% csrf_token %}
    </form>
</body>
</html>